/* checkbox, radio */
:root {
    // checkbox
    --#{$prefix}checkbox-line-color: #A9A8AA;
    --#{$prefix}checkbox-color: var(--color-primary);
    --#{$prefix}checkbox-disabled-color: #E9E9EA;
    --#{$prefix}checkbox-size: 20px;
    --#{$prefix}checkbox-radius: 4px;

    // radio
    --#{$prefix}radio-line-color: #A9A8AA;
    --#{$prefix}radio-color: var(--color-primary);
    --#{$prefix}radio-disabled-color: #E9E9EA;
    --#{$prefix}radio-size: 20px;

    // gap
    --#{$prefix}formControlCheck-gap: 32px;
    --#{$prefix}formControlCheck-label-color : var(--color-black);
    --#{$prefix}formControlCheck-label-font-size : 16px;
    --#{$prefix}formControlCheck-label-font-weight : 500;
    --#{$prefix}checkbox-label-gap: 12px;
}
.mhuFormControlCheck-root {
    display: inline-flex;
    position: relative;
    margin: 2px 0;
    flex: 0 0 auto;
}
.mhuFormControlCheck-root + .mhuFormControlCheck-root {
    margin-left: var(--#{$prefix}formControlCheck-gap);
}
.mhuFormControlCheck {
    position: relative;
    //top: 3px;
    display: block;
}
.mhuFormControlCheck[type=radio],
.mhuFormControlCheck[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.mhuFormControlCheck:after {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    transition: opacity 0.15s;
    content: "";
}
.mhuFormControlCheckLabel-root {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-left: 8px;
    min-height: var(--#{$prefix}checkbox-size);
    font-size: var(--#{$prefix}formControlCheck-label-font-size);
    font-weight: var(--#{$prefix}formControlCheck-label-font-weight);
    line-height: var(--#{$prefix}checkbox-size);
    color: var(--#{$prefix}formControlCheck-label-color);
    cursor: pointer;
}

// checkbox
.mhuFormControlCheck[type="checkbox"] {
    width: var(--#{$prefix}checkbox-size);
    height: var(--#{$prefix}checkbox-size);
    border-radius: var(--#{$prefix}checkbox-radius);
    border: 2px solid var(--#{$prefix}checkbox-line-color);
}
.mhuFormControlCheck[type="checkbox"]:checked {
    background-color: var(--#{$prefix}checkbox-color);
    border-color: var(--#{$prefix}checkbox-color);
    @include background-svg('<svg viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" > <path fill-rule="evenodd" clip-rule="evenodd" d="M4 0C1.79086 0 0 1.79086 0 4V16C0 18.2091 1.79086 20 4 20H16C18.2091 20 20 18.2091 20 16V4C20 1.79086 18.2091 0 16 0H4ZM16.7649 5.64414C17.1207 5.22169 17.0666 4.59084 16.6441 4.23509C16.2217 3.87934 15.5908 3.93342 15.2351 4.35586L8.05765 12.8791L4.80874 8.41183C4.4839 7.96518 3.85848 7.86643 3.41183 8.19126C2.96518 8.5161 2.86643 9.14152 3.19126 9.58817L6.81572 14.5718C7.38864 15.3596 8.54875 15.4008 9.17619 14.6557L16.7649 5.64414Z"/> </svg>',var(--#{$prefix}checkbox-size), var(--#{$prefix}checkbox-size) );
}
.mhuFormControlCheck[type="checkbox"]:checked + label {
    color: var(--#{$prefix}checkbox-color);
}
.mhuFormControlCheck[type="checkbox"]:disabled {
    color: var(--#{$prefix}checkbox-disabled-color);
    border-color: var(--#{$prefix}checkbox-disabled-color);
    cursor: default;
}
.mhuFormControlCheck[type="checkbox"]:checked:disabled {
    background-color: var(--#{$prefix}checkbox-disabled-color);
    border-color: var(--#{$prefix}checkbox-disabled-color);
}
.mhuFormControlCheck[type="checkbox"]:disabled + label {
    color: var(--#{$prefix}checkbox-disabled-color);
    cursor: default;
}

// radio
.mhuFormControlCheck[type="radio"] {
    position: relative;
    width: var(--#{$prefix}radio-size);
    height: var(--#{$prefix}radio-size);
    border-radius: 50%;
    border: 2px solid var(--#{$prefix}radio-line-color);
}
.mhuFormControlCheck[type="radio"]:after {
    width: calc(var(--#{$prefix}radio-size) - 8px);
    height: calc(var(--#{$prefix}radio-size) - 8px);
}
.mhuFormControlCheck[type="radio"]:checked {
    border-color: var(--#{$prefix}radio-color);
}
.mhuFormControlCheck[type="radio"]:checked:after {
    background-color: var(--#{$prefix}radio-color);
}
.mhuFormControlCheck[type="radio"]:checked + label {
    color: var(--#{$prefix}radio-color);
}
.mhuFormControlCheck[type="radio"]:disabled {
    color: var(--#{$prefix}radio-disabled-color);
    border-color: var(--#{$prefix}radio-disabled-color);
}
.mhuFormControlCheck[type="radio"]:checked:disabled:after {
    background-color: var(--#{$prefix}radio-disabled-color);
}
.mhuFormControlCheck[type="radio"]:disabled + label {
    color: var(--#{$prefix}radio-disabled-color);
}
.mhuFormControlCheck[type="radio"]:after {
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    transition: opacity 0.15s;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    content: "";
}
.mhuFormControlCheck[type="radio"]:checked:after {
    opacity: 1;
}

/* label + checkbox */
.mhuFormControlBaseLabel-root + .mhuFormControlCheckGroup-root {
    margin-top: var(--#{$prefix}checkbox-label-gap);
}
