:root {
    /****** form ******/
    --#{$prefix}form-control-field-height: 40px;
    --#{$prefix}form-control-field-font-size: 16px;
    --#{$prefix}form-control-field-padding: 7px 16px;
    --#{$prefix}form-control-field-padding-side: 16px;

    --#{$prefix}form-control-field-height-sm: 32px;
    --#{$prefix}form-control-field-font-size-sm: 14px;
    --#{$prefix}form-control-field-padding-sm: 7px 12px;
    --#{$prefix}form-control-field-padding-side-sm: 12px;

    --#{$prefix}form-control-field-margin: 8px;
    --#{$prefix}form-control-field-margin2: 12px;
    --#{$prefix}form-control-field-margin3: 16px;

    --#{$prefix}form-control-field-icon-size: 20px;

    --#{$prefix}form-control-field-radius: 8px;

    --#{$prefix}textarea-height: 115px;
    --#{$prefix}form-control-field-gap: 28px;

    --#{$prefix}input-validation-font-size: 16px;
    --#{$prefix}input-validation-font-weight: 500;
    --#{$prefix}input-validation-icon-size: 20px;

    --#{$prefix}select-padding-right: 12px;
    --#{$prefix}select-padding-left: 8px;

    /*** color ***/
    --#{$prefix}input-placeholder: #A9A8AA;
    --#{$prefix}input-text: var(--color-black);

    --#{$prefix}input-arrow-color: #7D7D80;

    --#{$prefix}input-bg: #E9E9EA;
    --#{$prefix}input-disabled-bg:  #F4F4F4;
    --#{$prefix}input-disabled-text: #A9A8AA;
    --#{$prefix}input-disabled-line:  #F4F4F4;

    --#{$prefix}input-line: #E9E9EA;
    --#{$prefix}input-line-hover: #A9A8AA;
    --#{$prefix}input-line-focus: var(--color-black);

    --#{$prefix}input-type-line: var(--color-black);
    --#{$prefix}input-type-line-hover-bg:  #F4F4F4;
    --#{$prefix}input-type-line-disabled: #A9A8AA;

    --#{$prefix}input-validation: var(--color-black);
    --#{$prefix}input-validation-error: var(--color-danger);
}

/* textfield, select(input 공통부분만) */
.mhuFormControlField-root {
    line-height: initial;
}
.mhuFormControlField-root + .mhuFormControlField-root,
.mhuFormControlField-root + .mhuFormControlCustomFile-root {
    margin-top: var(--#{$prefix}form-control-field-gap);
}
.mhuFormControlField::placeholder {
    color: var(--#{$prefix}input-placeholder);
}
.mhuFormControlField,
.mhuFormControlCustomFile-root .mhuInputLabel-field,
.mhuFormControlSelect {
    width: 100%;
    height: var(--#{$prefix}form-control-field-height);
    padding: var(--#{$prefix}form-control-field-padding);
    border: 1px solid var(--#{$prefix}input-line);
    border-radius: var(--#{$prefix}form-control-field-radius);
    outline: none;
    font-size: var(--#{$prefix}form-control-field-font-size);
    color: var(--#{$prefix}input-text);
}

input.mhuFormControlField,
.mhuFormControlSelect,
.mhuFormControlCustomFile-root .mhuFormControlField {
    height: var(--#{$prefix}form-control-field-height);
    background-color: var(--#{$prefix}input-bg);
}
textarea.mhuFormControlField {
    min-height: var(--#{$prefix}textarea-height);
    background-color: var(--#{$prefix}input-bg);
}
// size sm
.mhuFormControlField--size-sm,
.mhuFormControlCustomFile-root .mhuInputLabel-field--size-sm,
.mhuFormControlSelect--size-sm {
    height: var(--#{$prefix}form-control-field-height-sm);
    padding: var(--#{$prefix}form-control-field-padding-sm);
    font-size: var(--#{$prefix}form-control-field-font-size-sm);
}

input.mhuFormControlField--size-sm,
.mhuFormControlSelect--size-sm,
.mhuFormControlCustomFile-root .mhuFormControlField--size-sm {
    height: var(--#{$prefix}form-control-field-height-sm);
}

.mhuFormControlField:hover,
.mhuFormControlSelect:hover {
    border-color: var(--#{$prefix}input-line-hover);
}
.mhuFormControlField:focus,
.mhuFormControlSelect:focus {
    border-color: var(--#{$prefix}input-line-focus);
}
.mhuFormControlField:read-only,
.mhuFormControlField:read-only:hover{
    background-color: var(--#{$prefix}input-disabled-bg);
    color: var(--#{$prefix}input-text);
    border-color: var(--#{$prefix}input-disabled-line);
}
.mhuFormControlField:disabled,
.mhuFormControlSelect:disabled,
.mhuFormControlField:disabled:hover,
.mhuFormControlSelect:disabled:hover {
    background-color: var(--#{$prefix}input-disabled-bg);
    color: var(--#{$prefix}input-disabled-text);
    border-color: var(--#{$prefix}input-disabled-line);
}

// input number
//.mhuFormControlField[type="number"]::-webkit-inner-spin-button,
//.mhuFormControlField[type="number"]::-webkit-outer-spin-button {
//    -webkit-appearance: none;
//    margin: 0;
//}
//.mhuFormControlField[type="number"] {
//    -moz-appearance: textfield;
//    appearance: textfield;
//    padding-right: 28px;
//}
.mhuFormControlField[type="number"]::-webkit-inner-spin-button,
.mhuFormControlField[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: inner-spin-button;
    opacity: 1;
}
.mhuFormControlQuantity-root {
    position: relative;
}
.mhuFormControlQuantity-nav {
    position: absolute;
    top: 50%;
    right: 8px;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
}
.mhuFormControlQuantity-button {
    width: 20px;
    height: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: var(--#{$prefix}input-arrow-color);
}
.mhuFormControlQuantity-up {
    @include background-svg('<svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">\
    <path d="M1.77083 5.49961L5.00417 2.26628L8.2375 5.49961C8.5625 5.82461 9.0875 5.82461 9.4125 5.49961C9.7375 5.17461 9.7375 4.64961 9.4125 4.32461L5.5875 0.499609C5.2625 0.174609 4.7375 0.174609 4.4125 0.499609L0.5875 4.32461C0.2625 4.64961 0.2625 5.17461 0.5875 5.49961C0.9125 5.81628 1.44583 5.82461 1.77083 5.49961Z" fill="#7D7D80"/>\
    </svg>', 10px);
}
.mhuFormControlQuantity-down {
    @include background-svg('<svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">\
    <path d="M1.77083 0.499609L5.00417 3.73294L8.2375 0.499609C8.5625 0.174609 9.0875 0.174609 9.4125 0.499609C9.7375 0.824609 9.7375 1.34961 9.4125 1.67461L5.5875 5.49961C5.2625 5.82461 4.7375 5.82461 4.4125 5.49961L0.5875 1.67461C0.2625 1.34961 0.2625 0.824609 0.5875 0.499609C0.9125 0.182943 1.44583 0.174609 1.77083 0.499609Z" fill="#7D7D80"/>\
    </svg>', 10px);
}

// line type
.mhuFormControlField.mhuFormControlField--line,
.mhuFormControlCustomFile-root .mhuInputLabel-field.mhuInputLabel-field--line {
    --#{$prefix}form-control-field-padding: 7px 8px;
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-color: var(--#{$prefix}input-type-line);
    border-radius: 0;
}
.mhuFormControlField.mhuFormControlField--line:hover,
.mhuFormControlCustomFile-root .mhuInputLabel-field.mhuInputLabel-field--line:hover {
    border-color: var(--#{$prefix}input-type-line);
    background-color: var(--#{$prefix}input-type-line-hover-bg);
}

// label
.mhuFormControlBaseLabel-root {
    display: block;
    margin-bottom: var(--#{$prefix}form-control-field-margin);
    color: var(--color-label);
    font-weight: var(--font-weight-medium);
    font-size: 16px;
    line-height: 1.6;
}
.mhuFormControlField-root.mhuType-required .mhuFormControlBaseLabel-root:after {
    content: "*";
    color: var(--#{$prefix}input-validation-error);
}

// validation
.mhuFormControlValidation-root {
    display: inline-flex;
    align-items: flex-start;
    padding: 0;
    margin-top: var(--#{$prefix}form-control-field-margin);
    color: var(--#{$prefix}input-validation);
    &:before {
        content: "";
        display: block;
        width: var(--#{$prefix}input-validation-icon-size);
        height: var(--#{$prefix}input-validation-icon-size);
        margin-right: 4px;
        background-color: var(--#{$prefix}input-validation);
        @include background-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">\
        <path d="M9.99935 5.83317C10.4577 5.83317 10.8327 6.20817 10.8327 6.6665V9.99984C10.8327 10.4582 10.4577 10.8332 9.99935 10.8332C9.54102 10.8332 9.16602 10.4582 9.16602 9.99984V6.6665C9.16602 6.20817 9.54102 5.83317 9.99935 5.83317ZM9.99102 1.6665C5.39102 1.6665 1.66602 5.39984 1.66602 9.99984C1.66602 14.5998 5.39102 18.3332 9.99102 18.3332C14.5993 18.3332 18.3327 14.5998 18.3327 9.99984C18.3327 5.39984 14.5993 1.6665 9.99102 1.6665ZM9.99935 16.6665C6.31602 16.6665 3.33268 13.6832 3.33268 9.99984C3.33268 6.3165 6.31602 3.33317 9.99935 3.33317C13.6827 3.33317 16.666 6.3165 16.666 9.99984C16.666 13.6832 13.6827 16.6665 9.99935 16.6665ZM10.8327 14.1665H9.16602V12.4998H10.8327V14.1665Z"/>\
        </svg>', var(--#{$prefix}input-validation-icon-size), var(--#{$prefix}input-validation-icon-size));
    }
}
.mhuFormControlValidation-root .mhuFormControlValidation--text {
    font-size: var(--#{$prefix}input-validation-font-size);
    font-weight: var(--#{$prefix}input-validation-font-weight);
    line-height: var(--#{$prefix}input-validation-icon-size);
}
// form 밑 텍스트
.mhuFormControlInfoText-root {
    display: inline-flex;
    align-items: flex-start;
    padding: 0;
    margin-top: var(--#{$prefix}form-control-field-margin);
    color: var(--#{$prefix}input-validation);
    font-size: var(--#{$prefix}input-validation-font-size);
    font-weight: var(--#{$prefix}input-validation-font-weight);
    line-height: var(--#{$prefix}input-validation-icon-size);
}
// error
.mhuFormControlField-root.mhuState-error .mhuFormControlValidation-root {
    color: var(--#{$prefix}input-validation-error);
    &:before {
        background-color: var(--#{$prefix}input-validation-error);
    }
}
.mhuFormControlField-root.mhuState-error .mhuFormControlField{
    color: var(--#{$prefix}input-validation-error);
}
// validation active
.mhuFormControlValidation-root.mhuState-active {
    display: inline-flex;
}
// validation inactive
.mhuFormControlValidation-root.mhuState-inactive{
    display: none;
}

// input + button
.mhuFormControlField-root .mhuStyle-dflex {
    .mhuFormControlField + .mhuButton-root {
        flex: 1 0 auto;
        margin-left: var(--#{$prefix}form-control-field-margin);
        margin-top: 0;
    }
    .mhuFormControlField + .mhuFormControlField {
        margin-left: var(--#{$prefix}form-control-field-margin2);
        margin-top: 0;
    }
    > .mhuFormControlFieldGroup-root + .mhuFormControlFieldGroup-root {
        margin-left: var(--#{$prefix}form-control-field-margin2);
    }
}
.mhuFormControlField-root > .mhuFormControlFieldGroup-root + .mhuFormControlFieldGroup-root {
    margin-top: var(--#{$prefix}form-control-field-margin2);
}

.mhuFormControlField-root .mhuFormControlField + .mhuFormControlField {
    margin-top: var(--#{$prefix}form-control-field-margin2);
}

.mhuFormControlField-root + .mhuButtonBox-root {
    margin-top: var(--#{$prefix}form-control-field-margin3);
}

/* fileUpload */
.mhuFormControlCustomFile-root {
    //display: inline-flex;
    position: relative;
}

.mhuFormControlCustomFile-root input[type=file] {
    position: absolute;
    width: 0;
    height: 0;
}

.mhuFormControlCustomFile-root .mhuInputLabel-root {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.mhuFormControlCustomFile-root .mhuFormControlField:after {
    color: var(--#{$prefix}input-placeholder);
    content: attr(data-placeholder);
    opacity: 0.58;
}
.mhuFormControlCustomFile-root .mhuButton-root {
    flex: 1 0 auto;
    cursor: pointer;
    margin-left: var(--#{$prefix}form-control-field-margin);
}

/* input + unit */
.mhuFormControlGroup-root {
    display: flex;
    align-items: center;
}
.mhuFormControlGroup-root .mhuFormControlField {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.mhuFormControlGroup-root .mhuFormControlField:hover, .mhuFormControlGroup-root .mhuFormControlField:focus {
    border-right: 0;
}
.mhuFormControlGroup-root .mhuFormControlField:hover + .mhuFormControlUnit-root,
.mhuFormControlGroup-root .mhuFormControlField:hover + .mhuIconButton-root {
    border-color:var(--#{$prefix}input-line-hover);
}
.mhuFormControlGroup-root .mhuFormControlField:focus + .mhuFormControlUnit-root,
.mhuFormControlGroup-root .mhuFormControlField:focus + .mhuIconButton-root {
    border-color:var(--#{$prefix}input-line-focus);
}
.mhuFormControlGroup-root .mhuFormControlField:disabled + .mhuFormControlUnit-root,
.mhuFormControlGroup-root .mhuFormControlField:disabled + .mhuIconButton-root {
    background-color: var(--#{$prefix}input-disabled-bg);
    color: var(--#{$prefix}input-disabled-text);
    border-color: var(--#{$prefix}input-disabled-line);
}
.mhuFormControlGroup-root .mhuFormControlUnit-root,
.mhuFormControlGroup-root .mhuIconButton-root {
    flex: 1 0 auto;
    height: var(--#{$prefix}form-control-field-height);
    line-height: var(--#{$prefix}form-control-field-height);
    padding-right: var(--#{$prefix}form-control-field-padding-side);
    background-color: var(--#{$prefix}input-bg);
    border-width: 1px 1px 1px 0;
    border-color: var(--#{$prefix}input-line);
    border-style: solid;
    border-bottom-right-radius: var(--#{$prefix}form-control-field-radius);
    border-top-right-radius: var(--#{$prefix}form-control-field-radius);
    font-size: var(--#{$prefix}form-control-field-font-size);
    color: var(--#{$prefix}input-text);
}

// line type
.mhuFormControlGroup-root .mhuFormControlField.mhuFormControlField--line + .mhuFormControlUnit-root,
.mhuFormControlGroup-root .mhuFormControlCustomFile-root .mhuInputLabel-field.mhuInputLabel-field--line + .mhuFormControlUnit-root,
.mhuFormControlGroup-root .mhuFormControlField.mhuFormControlField--line + .mhuIconButton-root,
.mhuFormControlGroup-root .mhuFormControlCustomFile-root .mhuInputLabel-field.mhuInputLabel-field--line + .mhuIconButton-root{
    --#{$prefix}form-control-field-padding: 7px 8px;
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-color: var(--#{$prefix}input-type-line);
    border-radius: 0;
}
.mhuFormControlGroup-root .mhuFormControlField.mhuFormControlField--line:hover + .mhuFormControlUnit-root,
.mhuFormControlGroup-root .mhuFormControlCustomFile-root .mhuInputLabel-field.mhuInputLabel-field--line:hover + .mhuFormControlUnit-root,
.mhuFormControlGroup-root .mhuFormControlField.mhuFormControlField--line:hover + .mhuIconButton-root,
.mhuFormControlGroup-root .mhuFormControlCustomFile-root .mhuInputLabel-field.mhuInputLabel-field--line:hover + .mhuIconButton-root{
    border-color: var(--#{$prefix}input-type-line);
    background-color: var(--#{$prefix}input-type-line-hover-bg);
}
.mhuFormControlGroup-root .mhuFormControlField.mhuFormControlField--line:disabled,
.mhuFormControlGroup-root .mhuFormControlField.mhuFormControlField--line:disabled + .mhuFormControlUnit-root,
.mhuFormControlGroup-root .mhuFormControlCustomFile-root .mhuInputLabel-field.mhuInputLabel-field--line:disabled + .mhuFormControlUnit-root,
.mhuFormControlGroup-root .mhuFormControlField.mhuFormControlField--line:disabled:hover,
.mhuFormControlGroup-root .mhuFormControlField.mhuFormControlField--line:disabled:hover + .mhuFormControlUnit-root,
.mhuFormControlGroup-root .mhuFormControlCustomFile-root .mhuInputLabel-field.mhuInputLabel-field--line:disabled:hover + .mhuFormControlUnit-root,
.mhuFormControlGroup-root .mhuFormControlField.mhuFormControlField--line:disabled,
.mhuFormControlGroup-root .mhuFormControlField.mhuFormControlField--line:disabled + .mhuIconButton-root,
.mhuFormControlGroup-root .mhuFormControlCustomFile-root .mhuInputLabel-field.mhuInputLabel-field--line:disabled + .mhuIconButton-root,
.mhuFormControlGroup-root .mhuFormControlField.mhuFormControlField--line:disabled:hover,
.mhuFormControlGroup-root .mhuFormControlField.mhuFormControlField--line:disabled:hover + .mhuIconButton-root,
.mhuFormControlGroup-root .mhuFormControlCustomFile-root .mhuInputLabel-field.mhuInputLabel-field--line:disabled:hover + .mhuIconButton-root{
    color: var(--#{$prefix}input-disabled-text);
    border-color: var(--#{$prefix}input-type-line-disabled);
    background-color: var(--#{$prefix}input-disabled-bg);
}


/* select */
// svg 화살표를 사용하여 컬러변수를 따로 사용하지 못하고 하드코딩으로 넣어주어야 함..
// mask로 처리하려고 시도중
.mhuFormControlSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: calc(var(--#{$prefix}select-padding-left) + var(--#{$prefix}select-padding-right) + var(--#{$prefix}form-control-field-icon-size));
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"> <path d="M6.77083 7.50156L10.0042 10.7349L13.2375 7.50156C13.5625 7.17656 14.0875 7.17656 14.4125 7.50156C14.7375 7.82656 14.7375 8.35156 14.4125 8.67656L10.5875 12.5016C10.2625 12.8266 9.7375 12.8266 9.4125 12.5016L5.5875 8.67656C5.2625 8.35156 5.2625 7.82656 5.5875 7.50156C5.9125 7.1849 6.44583 7.17656 6.77083 7.50156Z" fill="%233E4448"/> </svg>');
    background-size: var(--#{$prefix}form-control-field-icon-size);
    background-position: right var(--#{$prefix}select-padding-right) center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.mhuFormControlSelect:disabled {
    opacity: 1;
    cursor: default;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"> <path d="M6.77083 7.50156L10.0042 10.7349L13.2375 7.50156C13.5625 7.17656 14.0875 7.17656 14.4125 7.50156C14.7375 7.82656 14.7375 8.35156 14.4125 8.67656L10.5875 12.5016C10.2625 12.8266 9.7375 12.8266 9.4125 12.5016L5.5875 8.67656C5.2625 8.35156 5.2625 7.82656 5.5875 7.50156C5.9125 7.1849 6.44583 7.17656 6.77083 7.50156Z" fill="%23a9a8aa"/> </svg>');
}
.mhuFormControlSelect option {
    background-color: #fff;
}
