.mhuBgImg-root {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.mhuRow-root {
    display: flex;
    align-items: center;
    gap: var(--row-col-gap);
}

.mhuRow-root > * {
    width: 100%;
    max-width: 100%;
}

.mhuFormControlCheckGroup-root.mhuStyle-col-2 > *,
.mhuFormControlCheckGroup-root.mhuStyle-col-3 > * {
    margin-right: 0;
}

.mhuFormControlCheckGroup-root > *,
.mhuRow-root.mhuStyle-col-2 > *,
.mhuRow-root.mhuStyle-col-3 > * {
    width: calc((100% / var(--row-column)) - calc(var(--row-col-gap) / 2));
}
.mhuList-root {
    margin: 0;
    padding: 0;
}

.mhuListItem-root {
    list-style: none;
}

.mhuGrid-root {
    display: flex;
    margin: 0;
    padding: 0;
}

.mhuGridItem-root {
    list-style: none;
}
