:root {
    // Custom variable values only support SassScript inside `#{}`.
    //@each $color, $value in $colors {
    //  --#{$color}: #{$value};
    //}
    --#{$prefix}body-color: #{$body-color};
    --#{$prefix}body-color-rgb: #{to-rgb($body-color)};
    --#{$prefix}body-bg: #{$body-bg};
    --#{$prefix}body-bg-rgb: #{to-rgb($body-bg)};

    --#{$prefix}emphasis-color: #{$body-emphasis-color};
    --#{$prefix}emphasis-color-rgb: #{to-rgb($body-emphasis-color)};

    --#{$prefix}secondary-color: #{$body-secondary-color};
    --#{$prefix}secondary-color-rgb: #{to-rgb($body-secondary-color)};
    --#{$prefix}secondary-bg: #{$body-secondary-bg};
    --#{$prefix}secondary-bg-rgb: #{to-rgb($body-secondary-bg)};

    --#{$prefix}tertiary-color: #{$body-tertiary-color};
    --#{$prefix}tertiary-color-rgb: #{to-rgb($body-tertiary-color)};
    --#{$prefix}tertiary-bg: #{$body-tertiary-bg};
    --#{$prefix}tertiary-bg-rgb: #{to-rgb($body-tertiary-bg)};
    // scss-docs-end root-body-variables

    --#{$prefix}link-color: #{$link-color};
    --#{$prefix}link-color-rgb: #{to-rgb($link-color)};
    --#{$prefix}link-decoration: #{$link-decoration};

    --#{$prefix}link-hover-color: #{$link-hover-color};
    --#{$prefix}link-hover-color-rgb: #{to-rgb($link-hover-color)};

    // scss-docs-start root-border-var
    --#{$prefix}border-width: #{$border-width};
    --#{$prefix}border-style: #{$border-style};
    --#{$prefix}border-color: #{$border-color};
    --#{$prefix}border-color-translucent: #{$border-color-translucent};

    --#{$prefix}border-radius: #{$border-radius};
    --#{$prefix}border-radius-sm: #{$border-radius-sm};
    --#{$prefix}border-radius-lg: #{$border-radius-lg};
    --#{$prefix}border-radius-xl: #{$border-radius-xl};
    --#{$prefix}border-radius-xxl: #{$border-radius-xxl};
    --#{$prefix}border-radius-2xl: var(--#{$prefix}border-radius-xxl); // Deprecated in v5.3.0 for consistency
    --#{$prefix}border-radius-pill: #{$border-radius-pill};
    // scss-docs-end root-border-var

    --#{$prefix}box-shadow: #{$box-shadow};
    --#{$prefix}box-shadow-sm: #{$box-shadow-sm};
    --#{$prefix}box-shadow-lg: #{$box-shadow-lg};
    --#{$prefix}box-shadow-inset: #{$box-shadow-inset};

    /***************** color와 컴포넌트 사이즈는 lite 기준으로 작성 *****************/
    /****** color code ******/
    --color-default: #000;
    --color-primary: #1d6c5d;
    --color-primary-dark: #0f4f43;
    --color-secondary: #fff;
    --color-secondary-dark: #F4F4F4;

    --color-white: #fff;
    --color-black: #000;

    --color-danger: #FF4F79;
    --color-danger-dark: #FF006B;
    --color-warning: #FF7300;
    --color-shadow: rgba(0, 0, 0, 0.25);

    --color-label: #000;

    /* component Style */
    --loading-box-width: 80px;
    --selectbox-button-height: 24px;
    --selectbox-button-padding: 0 24px 0 10px;
    --selectbox-button-font-size: 12px;
    --selectbox-option-font-size: 12px;
    --selectbox-option-padding: 3px 10px 2px;

    /* body */
    --body-min-width: 1024px;
    --max-width-container: 1000px;


    /* z-index */
    --modal-zindex: 41;
    --modal-backdrop-zindex: 40;

    /* 기타 */
    --row-col-gap: 32px;
    --text-line-clamp: 1;
}

//`@each $color, $value in $theme-colors {
//  --#{$color}: #{$value};
//}
//
//@each $bp, $value in $grid-breakpoints {
//  --breakpoint-#{$bp}: #{$value};
//}`

// Use `inspect` for lists so that quoted items keep the quotes.
// See https://github.com/sass/sass/issues/2383#issuecomment-336349172
//--font-family-sans-serif: #{inspect($font-family-sans-serif)};
//--font-family-monospace: #{inspect($font-family-monospace)};
//}
