@mixin background-svg($svg, $width:20px, $height:auto) {
    $svg-img: url(escape-svg('data:image/svg+xml;charset=utf-8,' + $svg));
    -webkit-mask-image: $svg-img;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: $width $height;;
    mask-image: $svg-img;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: $width $height;
}
