@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
}
body{
    background-image: radial-gradient(red, blue);
}
.side-content{
    position: fixed; right: 0; top:0; bottom:0;
    display: flex; align-items: center; justify-content: center;
    width: 30vw;
    background-color: rgb(255,255, 100, 0.3);
    border: 1px solid green;
}
.text-holder{


}
