@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'HSGooltokki';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/HSGooltokki.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MangoByeolbyeol';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoByeolbyeol.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@import '/assets/scss/common.scss';
