@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

@import 'variables';
@import 'root';

body,
html {
  height: 100vh;
}
body {
  font-family: var(--body-font-family);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input[type='text'], textarea, select {
    font-size: 16px;
}
