:root {
    /* colors */
    --color-default: #615E69;
    --color-dark: #1A172F;
    --color-ckdark: #212c42;
    --color-primary: #0085FF;
    --color-primary-100: #0FABFF;
    --color-secondary: #1BD2A4;
    --color-danger: #F42829;
    --color-warning: #FF7D1A;
    --placeholder: #8E8C94;

    --color-disabled-bg: #F4F4F4;
    --color-disabled-text: #A9AAB0;

    /* box Style */
    --border-radius-1: 4px;
    --border-radius-2: 8px;
    --border-radius-3: 12px;
    --border-radius-4: 14px;
    /* component Style */
    --loading-box-width: 80px;
    --selectbox-button-height: 24px;
    --selectbox-button-padding: 0 24px 0 10px;
    --selectbox-button-font-size: 12px;
    --selectbox-option-font-size: 12px;
    --selectbox-option-padding: 3px 10px 2px;
    /* body */
    --body-min-width: 1024px;
    --max-width-container: 1000px;
    /* font */
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-default: 400;
    /* z-index */
    --modal-zindex: 41;
    --modal-backdrop-zindex: 40;
    /* form */
    --form-control-field-height: 40px;
    --color-input-base-line: #E1E2E3;
    --input-field-fontsize: 13px;
}

/* 사용자 정의용 태그 */
dataitem,
component {
    display: none;
}

::-moz-selection {
    color: #1d1dc5;
    background: rgba(0, 0, 0, 0.3);
    text-shadow: none;
}

::selection {
    color: #1d1dc5;
    background: rgba(0, 0, 0, 0.3);
    text-shadow: none;
}

fieldset {
    padding: 0;
    border: none;
}

legend {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    text-align: left;
    text-indent: -9999px;
    opacity: 0.01;
}

input,
button,
textarea {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
}

input[type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
}

/* HTML 요소 스타일 초기화 */
button {
    padding: 0;
    border: 0;
    background: none;
}
button:focus {
    outline: none;
}

p[class^="mhu"] {
    margin: 0;
}

svg {
    pointer-events: none;
}

/* init style */
[class ^= mhu],
[class ^= mhu] :before,
[class ^= mhu] :after,
[class ^= mhu] [class ^= mhu] *,
[class ^= mhu] [class ^= mhu] :before,
[class ^= mhu] [class ^= mhu] :after {
    box-sizing: border-box;
}


.mhuText--more:after,
.mhuButton__text--more:after {
    width: 20px;
    height: 20px;
    background: url('../img/icon/icon_arr@white.png') no-repeat center center / contain;
}

.mhuButton-root .mhuIcon-root,
.mhuButton-root .mhuButton__icon {
    width: 20px;
    height: 20px;
}
